@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}


body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
    color: rgba(62, 62, 62, 1);
    /* background: #fafafa; */
}

h1,
h2 {
    font-family: 'Bebas Neue', Verdana, Tahoma, sans-serif;
    font-weight: 400;
    color: rgba(54, 57, 88, 1);
    line-height: 1;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}


@media screen and (max-width: 640px) {

    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2.25rem;
    }
}


/* img {
    display: block;
    max-width: 100%;
} */

/* Containers */

.container {
    width: 80%;
    margin: 3rem auto 10rem;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90% !important;
        margin: 2.5rem auto 8rem;
    }
}




/* Sections */

/* main>section+section {
    margin-top: 10rem;
}

@media screen and (max-width: 600px) {
    main>section+section {
        margin-top: 8rem;
    }
} */


/* Header */

.nav__list li a {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}